@import "variables.scss";
@import "bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
  overflow: hidden;
}

.page-container, .page-container > .row {
  height: 100%;
}

.right-col-parent {
  overflow-y: auto;
  padding-bottom: 7rem;
}

.right-col {
  max-width: 800px;
  margin: 0 auto;
  overflow-y: auto;
  padding-top: 4rem;
}
