$primary: #0C9443;
$secondary: #FCB040;

@import "bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
}

.page-container, .page-container > .row {
  height: 100%;
}

.right-col {
  max-width: 800px;
  margin: 0 auto;
  overflow-y: scroll;
  padding-top: 4rem;
}
