<aside>
  <h1>Quoia</h1>
  <ul class="list-unstyled nav-list">
    <li><a {{#if home}}class="active"{{/if}} href="/">Home</a></li>
    <li><a {{#if gettingStarted}}class="active"{{/if}} href="/getting-started">Getting Started</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Extending</a></li>
  </ul>
</aside>
