<aside>
  <h1>Quoia</h1>
  <ul class="list-unstyled nav-list">
    <li><a {{#if home}}class="active"{{/if}} href="{{root}}">Home</a></li>
    <li><a {{#if gettingStarted}}class="active"{{/if}} href="{{root}}getting-started">Getting Started</a></li>
    <li><a {{#if buildConfiguration}}class="active"{{/if}} href="{{root}}build-config">Build Configuration</a></li>
    <li><a {{#if components}}class="active"{{/if}} href="{{root}}components">Components</a></li>
  </ul>
</aside>
