@import "variables.scss";

aside {
  width: 300px;
  background-color: rgba(12, 148, 67, 0.1);
  height: 100%;
  overflow-y: scroll;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  position: relative;
  font-weight: 200;
  font-size: 2rem;
}

.nav-list {
  padding: 1rem 2rem;
  font-size: larger;

  li {
    margin: 0.5rem 0;
  }
}

a.active {
  font-weight: bold;
}
